<div class="BlogPost card">
  <div class="card-header flex-row justify-space-between">
    <h2>{{blogPost.title}}</h2>
    <div>
      {{!-- Posted by {{blogPost.user.username}} on {{formatDate blogPost.createdAt}} --}}
    </div>
  </div>
  <div class="card-body">
    {{blogPost.body}}
  </div>